/target
/out
.vscode

# LLMs sometimes create this when running under copilot, ignore.
# Only Deno-based dependencies.
web/package-lock.json

# macos temporaries
.DS_Store

# Don't trace flake inputs, let each user follow their nixpkgs.
# Can be pinned after MVP phase
flake.lock
